.row
  = render "partials/card", card_title: "Bugzilla", card_subtitle: "YaST Team Bugs" do
    .row.tile_count
      = render "bug_tile", title: "Total Open Bugs", bug_count: @bugstat.total_open,
        link: "/bugzilla/index.html", old_bug_count: @bugstat_old.try(:total_open)
      = render "bug_tile", title: "Closed Bugs Since 01-01-2016", bug_count: @closed_bugstat.total_closed,
        link: "/bugzilla/graphs.html#echart_closed_bugs_resolution", old_bug_count: @closed_bugstat_old.try(:total_closed)
      = render "bug_tile", title: "P1 Bugs", bug_count: @bugstat.p1,
        link: "/bugzilla/summary.html#critical_bugs", old_bug_count: @bugstat_old.try(:p1)
      = render "bug_tile", title: "P2 Bugs", bug_count: @bugstat.p2,
        link: "/bugzilla/summary.html#critical_bugs", old_bug_count: @bugstat_old.try(:p2)
      = render "bug_tile", title: "Yast2-maintainers Bugs", bug_count: @y2maintainers,
        link: "/bugzilla/summary.html#y2maintainers_bugs"

.row
  = render "partials/card", card_title: "Open Build Service" do
    h4
      | Important Builds in the Public OBS
      small
        |  (build.opensuse.org)

    br
    h5 YaST:Head

    .row.tile_count
      = render "obs_tile", title: "YaST:Head Summary", bug_count: @obs_head_failures
      = render "obs_tile", title: "YaST:Head/Factory", bug_count: @obs_head_factory_failures
      = render "obs_tile", title: "YaST:Head/Tumbleweed", bug_count: @obs_head_tw_failures
      = render "obs_tile", title: "YaST:Head/openSUSE 42.2", bug_count: @obs_head_42_2_failures
      = render "obs_tile", title: "YaST:Head/SLE-12-SP1", bug_count: @obs_head_sp1_failures

    h5 Travis

    .row.tile_count
      = render "obs_tile", title: "YaST:Head:Travis", bug_count: @obs_head_travis_failures
      = render "obs_tile", title: "YaST:SLE-12:SP2:Travis", bug_count: @obs_sp2_travis_failures
      = render "obs_tile", title: "YaST:openSUSE:42.2:Travis", bug_count: @obs_42_2_travis_failures

    h4
      | Important Builds in the Internal OBS
      small
        |  (build.suse.de)

    .row.tile_count
      = render "obs_tile", title: "Devel:YaST:Head", bug_count: @ibs_head_sp3_failures
      = render "obs_tile", title: "Devel:YaST:CASP:1.0", bug_count: @ibs_casp1_failures
      = render "obs_tile", title: "Devel:YaST:SLE-12-SP2", bug_count: @ibs_sp2_failures

.row
  = render "partials/card", card_title: "Jenkins" do
    h4
      | Public Jenkins
      small
        |  (ci.opensuse.org)

    .row.tile_count
      = render "jenkins_tile", title: "Failed yast-*-master jobs", bug_count: @pjenkins_y2_failures
      = render "jenkins_tile", title: "Failed libyui-*-master jobs", bug_count: @pjenkins_yui_failures
      = render "jenkins_tile", title: "Failed libyui-*-staging jobs", bug_count: @pjenkins_yuistg_failures

    h4
      | Internal Jenkins
      small
        |  (ci.suse.de)

    .row.tile_count
    / TODO: add cards
.row
  = render "partials/card", card_title: "GitHub" do
    h4 The YaST Organization
    .row.tile_count
      = render "gh_tile", title: "Open Pull Requests", bug_count: @gh_yast_pulls
      = render "gh_tile", title: "Open Issues", bug_count: @gh_yast_issues
    h4 The Libyui Organization
    .row.tile_count
      / TODO: add cards
