h1 Build Service Status

.row
  = render "partials/card", :card_title => "Public OBS", md: 6, xs: 12,
    card_subtitle: "(build.opensuse.org)" do
    table#obs_overview.table.table-hover.dataTable
      thead
        tr
          th Project/Target
          th Build Failures
      tbody
        - @statuses.each do |status|
          - if !status.obs_project.internal
            tr class=('bug-p1' if status.failures > 0)
              td #{status.obs_project.name}/#{status.name}
              td= status.failures

  = render "partials/card", :card_title => "Internal OBS", md: 6, xs: 12,
    card_subtitle: "(build.suse.de)" do
    table#ibs_overview.table.table-hover.dataTable
      thead
        tr
          th Project/Target
          th Build Failures
      tbody
        - @statuses.each do |status|
          - if status.obs_project.internal
            tr class=('bug-p1' if status.failures > 0)
              td #{status.obs_project.name}/#{status.name}
              td= status.failures

javascript:
  $(document).ready( function () {
    var table_cfg = {
      paging: false,
      order: [[ 0, "asc" ]]
    };
    $('#obs_overview').DataTable(table_cfg);
    $('#ibs_overview').DataTable(table_cfg);
    // style the added search field
    $('input[type=search]').addClass('form-control');
    $('.dataTables_filter').css('width', 'auto');
  });
