
<%= render "partials/page_title" do %>
  <h3>Bugzilla Statistics</h3>
<% end %>

<div class="row">
  <%= render "partials/card", :card_title => "History" do %>
    <div id="echart_open_bugs_history" style="height:350px;"></div>

    <script>
      $(document).ready(function() {
        var echartLine = echarts.init(document.getElementById('echart_open_bugs_history'), echart_theme);

        $(window).resize(function() {
          echartLine.resize();
        });

        echartLine.setOption({
          title: {
            text: 'Open Bugs',
            subtext: 'Assigned to the YaST Team'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            x: 'center',
            y: 20,
            data: ['Total', 'P0 - Crit Sit', 'P1 - Urgent', 'P2 - High', 'P3 - Medium', 'P4 - Low', 'P5 - None']
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: {
                show: true,
                title: "Save Image"
              }
            }
          },
          xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: <%= raw @bugstats.map(&:date).to_json %>
          }],
          yAxis: [{
            type: 'value'
          }],
          series: [{
            name: 'Total',
            type: 'line',
            itemStyle: {
              normal: {
                color: '#0047b3',
                lineStyle: {
                  width: 4
                },
                areaStyle: {
                  color: '#e6f0ff'
                }
              }
            },
            data: <%= raw @bugstats.map(&:total_open).to_json %>
          },
          {
            name: 'P0 - Crit Sit',
            type: 'line',
            data: <%= raw @bugstats.map(&:p0).to_json %>
          },
          {
            name: 'P1 - Urgent',
            type: 'line',
            data: <%= raw @bugstats.map(&:p1).to_json %>
          },
          {
            name: 'P2 - High',
            type: 'line',
            data: <%= raw @bugstats.map(&:p2).to_json %>
          },
          {
            name: 'P3 - Medium',
            type: 'line',
            data: <%= raw @bugstats.map(&:p3).to_json %>
          },
          {
            name: 'P4 - Low',
            type: 'line',
            data: <%= raw @bugstats.map(&:p4).to_json %>
          },
          {
            name: 'P5 - None',
            type: 'line',
            data: <%= raw @bugstats.map(&:p5).to_json %>
          }
        ]
        })
      });
    </script>
  <% end %>
</div>

<div class="row">
<%= render "partials/card", :card_title => "History" do %>
  <div id="echart_closed_bugs_history" style="height:350px;"></div>

  <script>
    $(document).ready(function() {
      var echartLine = echarts.init(document.getElementById('echart_closed_bugs_history'), echart_theme);

      $(window).resize(function() {
        echartLine.resize();
      });

      echartLine.setOption({
        title: {
          text: 'Closed Bugs',
          subtext: 'Since January 1st 2016'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          x: 'center',
          y: 20,
          data: ['Total', 'FIXED', 'INVALID', 'WONTFIX', 'NORESPONSE', 'UPSTREAM', 'FEATURE', 'DUPLICATE', 'WORKSFORME', 'MOVED' ]
        },
        toolbox: {
          show: true,
          feature: {
            saveAsImage: {
              show: true,
              title: "Save Image"
            }
          }
        },
        xAxis: [{
          type: 'category',
          boundaryGap: false,
          data: <%= raw @closed_bug_stats.map(&:date).to_json %>
        }],
        yAxis: [{
          type: 'value'
        }],
        series: [{
          name: 'Total',
          type: 'line',
          itemStyle: {
            normal: {
              color: '#0047b3',
              lineStyle: {
                width: 4
              },
              areaStyle: {
                color: '#e6f0ff'
              }
            }
          },
          data: <%= raw @closed_bug_stats.map(&:total_closed).to_json %>
        },
        {
          name: 'FIXED',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:fixed).to_json %>
        },
        {
          name: 'INVALID',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:resolved_invalid).to_json %>
        },
        {
          name: 'WONTFIX',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:wontfix).to_json %>
        },
        {
          name: 'NORESPONSE',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:noresponse).to_json %>
        },
        {
          name: 'UPSTREAM',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:upstream).to_json %>
        },
        {
          name: 'FEATURE',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:feature).to_json %>
        },
        {
          name: 'DUPLICATE',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:duplicate).to_json %>
        },
        {
          name: 'WORKSFORME',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:worksforme).to_json %>
        },
        {
          name: 'MOVED',
          type: 'line',
          data: <%= raw @closed_bug_stats.map(&:moved).to_json %>
        }
      ]
      })
    });
  </script>
<% end %>
</div>

<%= render "partials/page_title" do %>
  <h4>The Current Open Bugs</h4>
<% end %>

<div class="row">
  <%= render "partials/card", :card_title => "By Priority", md: 6, sm: 6, xs: 12 do %>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <br/><br/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Priority</th>
              <th>Count</th>
              <th>Percent</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>P0 - Crit Sit</td>
              <td><%= @last_stat.p0 %></td>
              <td><%= (@last_stat.p0.to_f / @last_stat.total_open * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>P1 - Urgent</td>
              <td><%= @last_stat.p1 %></td>
              <td><%= (@last_stat.p1.to_f / @last_stat.total_open * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>P2 - High</td>
              <td><%= @last_stat.p2 %></td>
              <td><%= (@last_stat.p2.to_f / @last_stat.total_open * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>P3 - Medium</td>
              <td><%= @last_stat.p3 %></td>
              <td><%= (@last_stat.p3.to_f / @last_stat.total_open * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>P4 - Low</td>
              <td><%= @last_stat.p4 %></td>
              <td><%= (@last_stat.p4.to_f / @last_stat.total_open * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>P5 - None</td>
              <td><%= @last_stat.p5 %></td>
              <td><%= (@last_stat.p5.to_f / @last_stat.total_open * 100).round(2) %>%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-8 col-sm-12 col-xs-12">
        <div id="echart_open_bugs_priority" style="height:350px;"></div>
      </div>
    </div>
    <script>
      $(document).ready(function() {

    var echartPie = echarts.init(document.getElementById('echart_open_bugs_priority'), echart_theme);

    $(window).resize(function() {
      echartPie.resize();
    });

    echartPie.setOption({
      tooltip: {
        trigger: 'item',
        formatter: "{b} : {c} bugs ({d}%)"
      },
      legend: {
        x: 'center',
        y: 'bottom',
        data: ['P0 - Crit Sit', 'P1 - Urgent', 'P2 - High', 'P3 - Medium', 'P4 - Low', 'P5 - None']
      },
      toolbox: {
        show: true,
        feature: {
          saveAsImage: {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      series: [{
        name: 'Open Bugs by Priority',
        type: 'pie',
        radius: '55%',
        center: ['50%', '48%'],
        data: [
        {
          value: <%= @last_stat.p0 %>,
          name: 'P0 - Crit Sit'
        },
        {
          value: <%= @last_stat.p1 %>,
          name: 'P1 - Urgent'
        },
        {
          value: <%= @last_stat.p2 %>,
          name: 'P2 - High'
        },
        {
          value: <%= @last_stat.p3 %>,
          name: 'P3 - Medium'
        },
        {
          value: <%= @last_stat.p4 %>,
          name: 'P4 - Low'
        },
        {
          value: <%= @last_stat.p5 %>,
          name: 'P5 - None'
        }]
      }]
    });
  });
</script>
  <% end %>

  <%= render "partials/card", :card_title => "By Status", md: 6, sm: 6, xs: 12 do %>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <br/><br/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Status</th>
            <th>Count</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NEW</td>
            <td><%= @last_stat.fresh_new %></td>
            <td><%= (@last_stat.fresh_new.to_f / @last_stat.total_open * 100).round(2) %>%</td>
          </tr>
          <tr>
            <td>CONFIRMED</td>
            <td><%= @last_stat.confirmed %></td>
            <td><%= (@last_stat.confirmed.to_f / @last_stat.total_open * 100).round(2) %>%</td>
          </tr>
          <tr>
            <td>IN_PROGRESS</td>
            <td><%= @last_stat.in_progress %></td>
            <td><%= (@last_stat.in_progress.to_f / @last_stat.total_open * 100).round(2) %>%</td>
          </tr>
          <tr>
            <td>REOPENED</td>
            <td><%= @last_stat.reopened %></td>
            <td><%= (@last_stat.reopened.to_f / @last_stat.total_open * 100).round(2) %>%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12">
      <div id="echart_open_bugs_status" style="height:350px;"></div>
    </div>
  </div>
    <script>
      $(document).ready(function() {

    var echartPie2 = echarts.init(document.getElementById('echart_open_bugs_status'), echart_theme);

    $(window).resize(function() {
      echartPie2.resize();
    });

    echartPie2.setOption({
      tooltip: {
        trigger: 'item',
        formatter: "{b} : {c} bugs ({d}%)"
      },
      legend: {
        x: 'center',
        y: 'bottom',
        data: ['NEW', 'CONFIRMED', 'IN_PROGRESS', 'REOPENED']
      },
      toolbox: {
        show: true,
        feature: {
          saveAsImage: {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      series: [{
        name: 'Open Bugs by Priority',
        type: 'pie',
        radius: '55%',
        center: ['50%', '48%'],
        data: [
        {
          value: <%= @last_stat.fresh_new %>,
          name: 'NEW'
        },
        {
          value: <%= @last_stat.confirmed %>,
          name: 'CONFIRMED'
        },
        {
          value: <%= @last_stat.in_progress %>,
          name: 'IN_PROGRESS'
        },
        {
          value: <%= @last_stat.reopened %>,
          name: 'REOPENED'
        }]
      }]
    });
  });
</script>

  <% end %>
</div>


<% if @closed_last_stat %>
<%= render "partials/page_title" do %>
  <h4>The Closed Bugs <small>(Since 01-01-2016)</small></h4>
<% end %>

<div class="row">
  <%= render "partials/card", :card_title => "By Resolution", md: 6, sm: 6, xs: 12 do %>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Resolution</th>
              <th>Count</th>
              <th>Percent</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FIXED</td>
              <td><%= @closed_last_stat.fixed %></td>
              <td><%= (@closed_last_stat.fixed.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>INVALID</td>
              <td><%= @closed_last_stat.resolved_invalid %></td>
              <td><%= (@closed_last_stat.resolved_invalid.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>WONTFIX</td>
              <td><%= @closed_last_stat.wontfix %></td>
              <td><%= (@closed_last_stat.wontfix.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>NORESPONSE</td>
              <td><%= @closed_last_stat.noresponse %></td>
              <td><%= (@closed_last_stat.noresponse.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>UPSTREAM</td>
              <td><%= @closed_last_stat.upstream %></td>
              <td><%= (@closed_last_stat.upstream.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>FEATURE</td>
              <td><%= @closed_last_stat.feature %></td>
              <td><%= (@closed_last_stat.feature.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>DUPLICATE</td>
              <td><%= @closed_last_stat.duplicate %></td>
              <td><%= (@closed_last_stat.duplicate.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>WORKSFORME</td>
              <td><%= @closed_last_stat.worksforme %></td>
              <td><%= (@closed_last_stat.worksforme.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
            <tr>
              <td>MOVED</td>
              <td><%= @closed_last_stat.moved %></td>
              <td><%= (@closed_last_stat.moved.to_f / @closed_last_stat.total_closed * 100).round(2) %>%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-8 col-sm-12 col-xs-12">
        <div id="echart_closed_bugs_resolution" style="height:350px;"></div>
      </div>
    </div>
    <script>
      $(document).ready(function() {

    var echartPie = echarts.init(document.getElementById('echart_closed_bugs_resolution'), echart_theme);

    $(window).resize(function() {
      echartPie.resize();
    });

    echartPie.setOption({
      tooltip: {
        trigger: 'item',
        formatter: "{b} : {c} bugs ({d}%)"
      },
      legend: {
        x: 'center',
        y: 'bottom',
        data: ['FIXED', 'INVALID', 'WONTFIX', 'NORESPONSE', 'UPSTREAM', 'FEATURE', 'DUPLICATE', 'WORKSFORME', 'MOVED']
      },
      toolbox: {
        show: true,
        feature: {
          saveAsImage: {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      series: [{
        name: 'Closed Bugs by Resolution',
        type: 'pie',
        radius: '55%',
        center: ['50%', '48%'],
        data: [
        {
          value: <%= @closed_last_stat.fixed %>,
          name: 'FIXED'
        },
        {
          value: <%= @closed_last_stat.resolved_invalid %>,
          name: 'INVALID'
        },
        {
          value: <%= @closed_last_stat.wontfix %>,
          name: 'WONTFIX'
        },
        {
          value: <%= @closed_last_stat.noresponse %>,
          name: 'NORESPONSE'
        },
        {
          value: <%= @closed_last_stat.upstream %>,
          name: 'UPSTREAM'
        },
        {
          value: <%= @closed_last_stat.feature %>,
          name: 'FEATURE'
        },
        {
          value: <%= @closed_last_stat.duplicate %>,
          name: 'DUPLICATE'
        },
        {
          value: <%= @closed_last_stat.worksforme %>,
          name: 'WORKSFORME'
        },
        {
          value: <%= @closed_last_stat.moved %>,
          name: 'MOVED'
        }]
      }]
    });
  });
</script>
  <% end %>
<% end %>

</div>
