
<%= render "partials/page_title" do %>
  <h3>All Open YaST Bugs</h3>
<% end %>

<%= render "partials/bug_table", bugs: @bugs, table_id: "all_bugs",
  bugzilla: "https://bugzilla.suse.com/buglist.cgi?bug_status=UNCONFIRMED&bug_status=NEW&bug_status=CONFIRMED&bug_status=IN_PROGRESS&bug_status=REOPENED&columnlist=priority%2Cproduct%2Cassigned_to%2Cbug_status%2Cshort_desc%2Cchangeddate&email1=%28%28yast2-maintainers%7Cyast-internal%7Cautoyast-maintainers%29%40suse.de%7C%28jreidinger%7Caschnell%7Cjsrain%7Clocilka%7Cancor%7Cigonzalezsosa%7Ckanderssen%7Csnwint%7Cschubi%7Cshundhammer%7Clslezak%7Cmvidner%7Cmfilka%7Ccwh%29%40suse.com%29&email2=cwh%40suse.com&email3=jreidinger%40suse.com&emailassigned_to1=1&emailtype1=regexp&emailtype2=substring&emailtype3=substring&human=1&limit=0&list_id=5179539&query_format=advanced&resolution=---" %>
